

<div class="sidebar-container">
  <div class="sidebar-header-container">
    <img src="../../cms/images/CompanyLogo.png" alt="">
    <p>Craft Labs</p>
  </div>
  <div class="sidebar-business-email">
    <i class="fas fa-envelope"></i>
    <p>{{email}}</p>
  </div>


  <div class="sidebar-items">
    <div class="sidebar-item {{#if dashboard}} active {{/if}}">
      <div class="line-container dashboard-item ">
        <a href="">
          <div class="icon-container">
            <i class="fas fa-tachometer-alt"></i>
          </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href=""><p>Dashboard</p></a>
    </div>

      <div class="sidebar-item  {{#if companyInfo}} active {{/if}}">
        <div class="line-container company-info-item">
          <a href="companyinfo"><div class="icon-container">
            <i class="fas fa-info-circle"></i>
          </div></a>
          <div class="sidebar-line"></div>
        </div>
        <a href="companyinfo"><p>Company Information</p></a>
      </div>

    <div class="sidebar-item">
      <div class="line-container">
        <a href="pages">
          <div class="icon-container">
            <i class="fas fa-file"></i>
          </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href="pages"><p>Pages</p></a>
    </div>

    <div class="sidebar-item">
      <div class="line-container">
        <a href="features">
        <div class="icon-container">
          <i class="fas fa-star"></i>
        </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href="features"><p>Features</p></a>
    </div>


    {{#ifEquals type "restaurant"}}
    <div class="sidebar-item">
      <div class="line-container">
        <a href="orders">
          <div class="icon-container">
            <i class="fas fa-utensils"></i>
          </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href="orders"><p>Orders</p></a>
    </div>

  {{/ifEquals}}

    <div class="sidebar-item">
      <div class="line-container">
        <a href="settings">
          <div class="icon-container">
            <i class="fas fa-cog"></i>
          </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href="settings"><p>Account Settings</p></a>
    </div>

    <div class="sidebar-item">
      <div class="line-container">
        <a href="support">
          <div class="icon-container">
            <i class="fas fa-question-circle"></i>
          </div>
        </a>
        <div class="sidebar-line"></div>
      </div>
      <a href="support"><p>Support</p></a>
    </div>



  </div>

  <div class="logout-container">
    <a href="../../logout">Sign Out</a>
  </div>

</div>
