

<div class="company-info-first-container">
  <div class="company-info-data-container">
    <div class="company-info-title-container company-info-item-container">
      <p>Company Name</p>
      <div class="edit-company-title-container edit-company-container">
          <input type="text" class="edit-value-container company-title-input" placeholder="Company Name" name="" value="{{companyInformation.title}}" spellcheck="false">
          <i class="fas fa-edit pencil-icon"></i>
      </div>
      <a href="#" class="company-info-title edit-company-info"><i class="fas fa-eye edit-company-info-icon"></i></a>
    </div>
    <div class="company-info-description-container company-info-item-container">
      <p>Description</p>
      <div class="edit-company-title-container edit-company-container">
          <input type="text" class="edit-value-container company-description-input" placeholder="Company Name" name="" value="{{companyInformation.description}}" spellcheck="false">
          <i class="fas fa-edit pencil-icon"></i>
      </div>
      <a href="#" class="company-info-title edit-company-info"><i class="fas fa-eye edit-company-info-icon"></i></a>
    </div>
    <div class="company-info-contact-container">
      <div class="company-info-phone-container company-info-item-container">
        <p>Phone</p>
        <div class="edit-company-title-container edit-company-container">
            <input type="text" class="edit-value-container company-phone-input" placeholder="Company Name" name="" value="{{companyInformation.phone}}" spellcheck="false">
            <i class="fas fa-edit pencil-icon"></i>
        </div>
        <a href="#" class="company-info-title edit-company-info"><i class="fas fa-eye edit-company-info-icon"></i></a>
      </div>
      <div class="company-info-email-container company-info-item-container">
        <p>Email</p>
        <div class="edit-company-title-container edit-company-container">
            <input type="text" class="edit-value-container company-email-input" placeholder="Company Name" name="" value="{{companyInformation.email}}" spellcheck="false">
            <i class="fas fa-edit pencil-icon"></i>
        </div>
        <a href="#" class="company-info-title edit-company-info"><i class="fas fa-eye edit-company-info-icon"></i></a>
      </div>
    </div>
  </div>
  <div class="company-info-logo-container">

  </div>
</div>
