<div class="dashboard-header-container">
  <div class="dashboard-header">
    <h1 class="dashboard-business-title">{{name}}</h1>
    <p class="dashboard-website-type">{{type}}</p>
  </div>
  <img class="dashboard-business-logo" src="https://www.freepnglogos.com/uploads/eagle-png-logo/eagle-head-png-logo-25.png" alt="">
</div>
<hr>
