<div class="dashboard-header-container">
  <div class="dashboard-header">
    <h1 class="dashboard-business-title">{{name}}</h1>
    <p class="dashboard-website-type">{{type}}</p>
  </div>
  <img class="dashboard-business-logo" src="https://www.freepnglogos.com/uploads/eagle-png-logo/eagle-head-png-logo-25.png" alt="">
</div>
<hr>

{{#websiteType type "restaurant"}}

<div class="dashboard-panels-container">
  <div class="dashboard-panel1 dashboard-panel">
    <div class="panel-info-container">
      <p>83</p>
      <p>Orders Placed Today</p>
    </div>
    <button type="button" name="button">View Orders</button>
    <img class="panel-icon" src="cms/images/PanelOrdersIcon.png" alt="">
  </div>
  <div class="dashboard-panel2 dashboard-panel">
    <div class="panel-info-container">
      <p>132</p>
      <p>Daily Visitors</p>
    </div>
    <button type="button" name="button">Engage</button>
    <img class="panel-icon" src="cms/images/PanelVisitorsIcon.png" alt="">
  </div>
  <div class="dashboard-panel3 dashboard-panel">
    <div class="panel-info-container">
      <p>Customize</p>
      <p>Your Site</p>
    </div>
    <button type="button" name="button">Edit Now</button>
    <img class="panel-icon" src="cms/images/PanelCustomizeIcon.png" alt="">
  </div>
</div>

{{/websiteType}}
