<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <h1>You have a lot of websites!</h1>
      {{#each websites}}
        <a href="/website/{{this._id}}"> <h1>{{this.title}}</h1></a>
        <p>{{this._id}}</p>
      {{/each}}
    </div>
  </body>
</html>
