<link rel="stylesheet" href="../../cms/css/support.css">

{{> header}}
<div class="support-header-container">
  <p>Frequently Asked Questions</p>
  <p>If you’re confused about how to use the  platform check out some of
our most asked questions and see if they help.</p>
</div>

<div class="support-faq-container">
  <div class="faq">
    <div class="question">
      <p>How is my site generated?</p>
      <i class="fas fa-plus question-icon"></i>
    </div>
    <div class="answer">
      <p>Using our state of the art Craft Labs technology we are able to gather information from the user (you) and automatically select which templates would best fit you and your consumers.</p>
      <p>In the future we plan to add a lot more automation so our consumers don’t have to worry about any of the design and collecting meaningful data on your users to help their companies grow and expand.</p>
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <p>Can I still customize my site?</p>
      <i class="fas fa-plus question-icon"></i>
    </div>
    <div class="answer">
      <p>Using our state of the art Craft Labs technology we are able to gather information from the user (you) and automatically select which templates would best fit you and your consumers.</p>
      <p>In the future we plan to add a lot more automation so our consumers don’t have to worry about any of the design and collecting meaningful data on your users to help their companies grow and expand.</p>
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <p>Will I be able to upgrade my plan in the future?</p>
      <i class="fas fa-plus question-icon"></i>
    </div>
    <div class="answer">
      <p>Using our state of the art Craft Labs technology we are able to gather information from the user (you) and automatically select which templates would best fit you and your consumers.</p>
      <p>In the future we plan to add a lot more automation so our consumers don’t have to worry about any of the design and collecting meaningful data on your users to help their companies grow and expand.</p>
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <p>Are you guys better than Fisherman?</p>
      <i class="fas fa-plus question-icon"></i>
    </div>
    <div class="answer">
      <p>Using our state of the art Craft Labs technology we are able to gather information from the user (you) and automatically select which templates would best fit you and your consumers.</p>
      <p>In the future we plan to add a lot more automation so our consumers don’t have to worry about any of the design and collecting meaningful data on your users to help their companies grow and expand.</p>
    </div>
  </div>
</div>

<div class="support-graphic-container">
  <img src="../../cms/images/supportGraphic.png" alt="">
</div>

<script type="text/javascript" src="../../cms/scripts/support.js">

</script>
