.header-container {
  display: flex;
  align-items: center;
}

.header-status-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.status-title {
  margin-left: 6px;
  font-family: publicSansExtraLight;
}

.status {
  margin-left: 7px;
  font-family: publicSansMedium;
}

.status-indicator {
  color: #0ac31e;
}

.publish-button {
  font-family: publicSansLight;
  color: white;
  background-color: #2d3145;
  padding: 2px 20px;
  height: 35px;
  border-radius: 6px;
  font-size: 14px;
  border: 0px solid black;
  transition: 0.15s linear;
}

.publish-button:hover {
  cursor: pointer;
  background-color: white;
  color: #2d3145;
  border: 1px solid #2d3145;
}

.publish-website-loading-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: 0.15s linear;
}

/* Loading animation */
.lds-hourglass {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 45%;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
