@font-face {
  font-family: publicSansBold;
  src: url(../fonts/PublicSans-Bold.otf);
}

@font-face {
  font-family: publicSansMedium;
  src: url(../fonts/PublicSans-Medium.otf);
}

@font-face {
  font-family: publicSansLight;
  src: url(../fonts/PublicSans-Light.otf);
}

@font-face {
  font-family: publicSansExtralight;
  src: url(../fonts/PublicSans-ExtraLight.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: publicSansMedium;
}

button:focus {
  outline: 0;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dashboard-base-container {
  display: flex;
  flex-flow: row;
}
