.sidebar-container {
  background-color: #3e4050;
  width: 17vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar-header-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #898b96;
  font-size: 2rem;
  padding-top: 20px;
}

.sidebar-header-container img {
  max-height: 70px;
}

.sidebar-header-container p {
  margin: 12px 0 0 0;
}

.sidebar-business-email {
  display: flex;
  color: #a9a9a9;
  align-items: center;
  padding: 15px 15px;
  background-color: #2d3145;
  margin-top: 10px;
  font-family: publicSansLight;
}

.sidebar-business-email i {
  font-size: 32px;
}

.sidebar-business-email p {
  font-size: 16px;
  margin-left: 15px;
}

.line-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sidebar-item .sidebar-line {
  width: 1px;
  background-color: white;
  height: 25px;
}

.sidebar-items {
  margin: 20px 0 0 25px;
}

.sidebar-item {
  display: flex;
  align-items: flex-start;
  transition: 0.2s linear;
}

.sidebar-item:not(.active) {
  margin-left: 1px;
}

.sidebar-item:not(.active) .icon-container {
  background-color: #eff1f9;
  padding: 6px;
  width: 16px;
  height: 16px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item:not(.active) p {
  margin-top: 6px;
}

.sidebar-item div i {
  color: #272728;
  font-size: 14px;
  margin-top: 1px;
}

.sidebar-item:not(.active) p {
  color: #ffffff;
  font-family: publicSansExtraLight;
  margin-left: 10px;
  transition: 0.2s linear;
}

.sidebar-items .active {
  margin-left: -5px;
  transition: 0.2s linear;
}

.sidebar-items .active,
.sidebar-items .active i {
  color: #a9b0d3;
}

.sidebar-items .active i {
  font-size: 38px;
  padding: 8px 0;
}

.sidebar-items .active p {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
  transition: 0.2s linear;
}

.sidebar-item:last-child .sidebar-line {
  display: none;
}

.sidebar-item a:visited {
  color: white;
}

.sidebar-item:not(.active) p:hover {
  margin-left: 20px;
  transition: 0.2s linear;
}

.active .company-info-item i {
  font-size: 41px !important;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 28px;
  align-self: center;
  height: 40px;
  width: 100%;
}

.logout-container a {
  background-color: #4ba070;
  padding: 10px 35px;
  border-radius: 25px;
  color: white;
  transition: 0.15s linear;
}

a:active,
a:visited,
a::before,
a::after,
a:default {
  color: white;
}

.logout-container a:hover {
  margin-top: -5px;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.2));
  transition: 0.15s linear;
}
