.sidebar-container {
  background-color: white;
  width: 17vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 4px 2px 18px 12px rgba(0, 0, 0, 0.05);
}

.sidebar-header-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #898b96;
  font-size: 2rem;
  padding-top: 20px;
}

.sidebar-header-container img {
  width: 75%;
}

.sidebar-header-container p {
  margin: 12px 0 0 0;
}

.sidebar-business-email {
  display: flex;
  color: white;
  align-items: center;
  padding: 15px 15px;
  background-color: #7748f6;
  margin-top: 10px;
  font-family: publicSansLight;
}

.sidebar-business-email i {
  font-size: 32px;
}

.sidebar-business-email p {
  font-size: 16px;
  margin-left: 15px;
}

.line-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sidebar-item .sidebar-line {
  width: 1px;
  background-color: #7748f6;
  height: 25px;
}

.sidebar-items {
  margin: 20px 0 0 25px;
}

.sidebar-item {
  display: flex;
  align-items: flex-start;
}

.sidebar-item:not(.active) {
  margin-left: 1px;
}

.sidebar-item:not(.active) .icon-container {
  background-color: #7748f6;
  padding: 6px;
  width: 16px;
  height: 16px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item:not(.active) p {
  margin-top: 6px;
}

.sidebar-item div i {
  color: white;
  font-size: 14px;
  margin-top: 1px;
}

.sidebar-item:not(.active) p {
  color: black;
  font-family: publicSansExtraLight;
  margin-left: 10px;
}

.sidebar-items .active {
  margin-left: -5px;
}

.sidebar-items .active,
.sidebar-items .active i {
  color: black;
}

.sidebar-items .active i {
  font-size: 38px;
  padding: 8px 0;
}

.sidebar-items .active p {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
  color: black;
}

.sidebar-item:last-child .sidebar-line {
  display: none;
}

.sidebar-item a:visited {
  color: white;
}

.active .company-info-item i {
  font-size: 41px !important;
}

.logout-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  background-color: #7748f6;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 28px;
  align-self: center;
  height: 40px;
  width: 65%;
  border-radius: 25px;
  transition: 0.15s linear;
}

.logout-container a {
  color: white;
}

a:visited,
a:link,
a:active {
  color: white;
}

.logout-container:hover {
  bottom: 32px;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.2));
  transition: 0.15s linear;
}

.logout-icon {
  display: none;
}

@media (max-width: 414px) {
  .sidebar-item a p {
    display: none;
  }

  .sidebar-items {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar-items .active {
    margin: 0;
  }

  .sidebar-business-email {
    display: none;
  }

  .sidebar-header-container img {
    display: none;
  }

  .sidebar-header-container {
    background-image: url("../images/AppLogo.svg");
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logout-container {
    bottom: 130px;
  }

  .logout-container a:not(.logout-icon) {
    display: none;
  }

  .logout-icon {
    display: block;
  }
}
