@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
